.dashboard {
  display: grid;
  grid-template-columns: 1fr 4fr;
}

ul {
  padding: 0;
}

li {
  list-style-type: none;
  padding: 10px;
}

.l-sidebar {
  grid-row: 1 / 3;
  background-color: #97ce4c;
  color: white;
}

.header {
  background-color: #fef08a;
}

.h-top, 
.h-bottom {
  display: flex;
  gap: 20px;
  padding: 10px 40px;
}

input {
  width: 600px;
  margin-right: auto;
  background-color: #91ecf8;
}

.greeting {
  margin-right: auto;
}

.main {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 20px;
  background-color: #ecfccb;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.card {
  box-sizing: border-box;
  height: 200px;
  padding: 20px 12px;
  border-left: 10px solid #e89ac7;
  border-radius: 5px;
  background-color: white;
}

.announce, 
.trend {
  padding: 20px 20px 40px;
  display: grid;
  gap: 30px 10px;
  background-color: white;
}

h4 {
  margin: 5px 0px;
}

h5, 
h6, 
p {
  margin: 0px;
}

button {
  background-color: #e89ac7;
}

p {
  color: #4b5563;
}
